/* Reference menu {{{ */
.navbar .nav .dropdown a {
	text-overflow: ellipsis;
	max-width: 400px;
	overflow: hidden;
}
/* }}} */
/* Style fixes {{{ */
body {
	overflow-x: hidden;
}

.hero-unit h1 {
	margin: 0px !important;
}
/* }}} */
/* FIXES: Waveform {{{ */
.waveform-readonly {
	padding-top: 5px;
	display: block;
}

.waveform-span {
	padding: 5px 20px;
}
/* }}} */
