<li><a href="/libraries/import/{{library.libraryid}}"><i class="fa fa-cloud-upload"></i> Import references</a></li>
<li><a href="/libraries/export/{{library.libraryid}}"><i class="fa fa-cloud-download"></i> Export references</a></li>
<li class="divider"></li>
<li><a href="/libraries/tags/{{library.libraryid}}"><i class="fa fa-tags"></i> Manage tags</a></li>
<li><a href="/libraries/share/{{library.libraryid}}"><i class="fa fa-share"></i> Share library</a></li>
<li class="divider"></li>
<li><a href="/libraries/collabmatrix/{{library.libraryid}}"><i class="fa fa-group"></i> Author collaboration</a></li>
<li class="divider"></li>
<li><a href="/libraries/dedupe/{{library.libraryid}}"><i class="fa fa-compress"></i> Eliminate Duplicates</a></li>
<li><a href="/libraries/screen/{{library.libraryid}}"><i class="fa fa-filter"></i> Screen references</a></li>
<li class="divider"></li>
<li><a href="/libraries/clear/{{library.libraryid}}" data-confirm="Are you sure? This will delete all references in this library"><i class="fa fa-trash-o"></i> Clear all references</a></li>
<li><a href="/libraries/delete/{{library.libraryid}}" data-confirm="Are you sure you want to delete this library?"><i class="fa fa-trash-o"></i> Delete</a></li>
